body {
  margin: 0;
  background-color: #0a2a4a;
  color: #ffffff;
  font-family: 'Courier New', monospace;
  display: flex;
}

#controls {
  width: 250px;
  padding: 10px;
  border-right: 2px solid #ffffff;
  background-color: #0a2a4a;
  overflow-y: auto;
}

#map {
  flex: 1;
  height: 100vh;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  padding: 0;
}
ul li:hover {
  color: #00ffff;
}
